<a href="https://colab.research.google.com/github/nadunchanna98/machine-learning-research/blob/main/practive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Import data set from my google drive

In [4]:
import os
os.chdir('/content/drive/My Drive/RESEACH/DATASET1/')

In [9]:
import pandas as pd
data = pd.read_csv('miRNA_HiSeq_gene1.csv')

In [10]:
data.head(10)

,sample,TCGA-BI-A0VS-01,TCGA-C5-A1MP-01,TCGA-C5-A2M1-01,TCGA-VS-A94Z-01,TCGA-C5-A2M2-01,TCGA-Q1-A5R3-01,TCGA-Q1-A5R2-01,TCGA-JW-A5VI-01,TCGA-ZJ-A8QO-01,...,TCGA-VS-A957-01,TCGA-VS-A9UJ-01,TCGA-DS-A1O9-01,TCGA-JX-A3Q0-01,TCGA-UC-A7PI-01,TCGA-EA-A3HU-01,TCGA-WL-A834-01,TCGA-VS-A8EC-01,TCGA-ZJ-AAXA-01,TCGA-C5-A7CM-01
0,MIMAT0019868,0.151000,0.2034,0.291900,0.791266,NaN,0.2542,NaN,NaN,NaN,...,NaN,NaN,0.377213,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MIMAT0019869,0.151000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.200900,NaN,NaN,NaN,0.5844,NaN,NaN,NaN
2,MIMAT0019860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MIMAT0019861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MIMAT0019862,0.287700,NaN,NaN,NaN,0.407,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.515600,NaN,NaN,NaN,NaN
5,MIMAT0019864,NaN,NaN,0.291900,0.572394,0.407,NaN,0.278200,NaN,NaN,...,0.421869,NaN,NaN,NaN,NaN,0.515600,NaN,NaN,0.246,0.677975
6,MIMAT0019865,0.412545,NaN,0.291900,0.572394,NaN,NaN,0.511328,0.3072,NaN,...,0.226300,NaN,0.676046,NaN,0.478332,1.442758,NaN,0.3164,NaN,0.378452
7,MIMAT0019866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.226300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,MIMAT0019867,0.412600,0.2034,0.534563,NaN,0.407,NaN,NaN,NaN,NaN,...,NaN,0.3008,0.534384,NaN,NaN,0.515600,NaN,0.3164,NaN,NaN
9,MIMAT0027483,0.287700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.534400,NaN,NaN,0.515600,NaN,NaN,NaN,NaN